<h1 class="animated fadeIn fast">Sobre Comic App</h1>
<p class="animated fadeIn">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ut consequat sapien. Integer viverra, sapien id maximus rutrum, purus felis faucibus eros, a ullamcorper lectus est at sem. Aliquam at magna placerat, vulputate
  ex sit amet,
  sollicitudin urna. Ut ac tempus est. Suspendisse blandit pharetra felis sit amet rhoncus. Maecenas luctus ipsum non massa posuere placerat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc faucibus elementum sapien vel mollis. Maecenas
  velit erat, aliquet et est vel, venenatis efficitur velit.</p>